@media screen and (min-width: 1150px) {
  .slide.one {
    transition: transform 0.5s;
  }

  .slide.one.is-clicked {
    transform: translateX(600px);
  }

  .arrow-left {
    transition: transform 0.5s;
  }

  .arrow-left.is-clicked {
    transform: rotate(90deg) translateY(-600px);
  }

  .slide.two,
  .slide.three,
  .slide.four {
    transition: transform 0.2s;
  }

  .slide.two:hover,
  .slide.three:hover,
  .slide.four:hover {
    transform: scale(1.5);
  }
}
