* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("../fonts/TradeGothic.woff") format("woff"),
    url("../fonts/TradeGothic.woff2") format("woff2");
}

body {
  font-family: "Trade Gothic", "Helvetica", "sans-serif";
  letter-spacing: 0.5px;
  line-height: 22px;
  text-align: justify;
}

header,
header img {
  height: 80px;
  position: relative;
}

header {
  width: 100%;
  background: black;
}

header img {
  z-index: inherit;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

main {
  padding: 15px;
  max-width: 600px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

img:not(.logo) {
  max-width: 100%;
  padding-top: 15px;
}

h1,
h3,
p,
iframe {
  margin-top: 10px;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
}

.button-left {
  position: absolute;
  background: white;
  left: 0px;
  top: 4px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
}

h2 {
  margin-top: 15px;
  color: black;
  font-size: 18px;
}

h3 {
  color: #7a7a7a;
  font-size: 14px;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

iframe {
  max-width: 100%;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  background: black;
  color: white;
  font-size: 10px;
  padding-left: 10px;
  margin-top: 15px;
  width: 100%;
}

footer ol {
  display: flex;
  flex-direction: row;
  width: 43vw;
  justify-content: space-around;
}

.icon {
  width: 15px;
  display: flex;
  align-items: right;
}

.iconcontainer {
  position: absolute;
  width: 40%;
  height: 50px;
  right: 0;
  display: flex;
  justify-content: space-around;
}

.social {
  display: flex;
  flex-direction: center;
}

@media screen and (min-width: 1150px) {
  a:hover,
  .button-left:hover {
    cursor: url(../images/icones/teddy.cur), pointer;
  }

  main {
    max-width: 1000px;
  }

  .button-left {
    left: 50px;
  }

  h1 {
    font-size: 30px;
  }

  iframe {
    display: block;
    margin: 0 auto;
    padding: 30px;
  }

  p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }

  img:not(.logo) {
    float: left;
    max-width: 400px;
    padding-right: 15px;
  }

  .iconcontainer img {
    padding: 0;
  }

  img:nth-of-type(even) {
    float: right;
    padding-left: 15px;
  }
}
