* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("../fonts/TradeGothic.woff") format("woff2"),
    url("../fonts/TradeGothic.woff2") format("woff"); /* bien déclaré les font-style et weight = ? */
}

body {
  font-family: "Trade Gothic", "Helvetica", "sans-serif";
  letter-spacing: 0.5px;
  line-height: 22px;
}

header {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

section:nth-of-type(1) {
  position: relative;
  height: 100vh;
  background-image: url("../images/SITE-MOSCHINO-IMAGES/page_accueil/background2-compressor.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20px;
  height: 100px;
}

.arrow {
  position: absolute;
  bottom: 0;
  height: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

section:nth-of-type(2),
section:nth-of-type(3) {
  margin-left: 23px;
  margin-right: 23px;
}

.bag {
  position: relative;
  max-width: 95vw;
  height: 350px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.bag:nth-of-type(1) {
  background-color: #c23c61;
}

.bag:nth-of-type(2) {
  background-color: #e1a195;
}

.bag:nth-of-type(3) {
  background-color: #e05218;
  order: -1;
}

.name {
  position: absolute;
  top: 50px;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.bag-desktop {
  display: none;
}

.bag-img {
  max-height: 100%;
  max-width: 90%;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.creator {
  position: relative;
  text-align: center;
  font-size: 17px;
  font-weight: lighter;
  margin-top: 10px;
  margin-right: 20px;
}

.arrowb {
  /* pas possible le camel-case ici pour le JS ? */
  position: absolute;
  height: 15px;
  right: 0;
}

.creator:hover {
  cursor: pointer;
}

.bio {
  margin-top: 30px;
  text-align: justify;
}

.illustration {
  width: 90%;
  position: relative;
  filter: brightness(65%);
}

article:nth-of-type(2) {
  margin-top: 30px;
}

.article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; /* sale ici répétition */
  max-width: 660px;
}

.articledesc {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.plus {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: lighter;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  background: black;
  color: white;
  font-size: 10px;
  line-height: 15px;
  padding-left: 10px;
}

footer ol {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: space-around;
}

.icon {
  width: 15px;
  display: flex;
  align-items: right;
}

.iconcontainer {
  position: absolute;
  width: 60%;
  height: 50px;
  right: 0;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 1150px) {
  /* changer le background de la section 1 par seulement le logo ? pour faire plus propre parceque l'image pas tpo sur pc? */
  header {
    display: block;
    position: absolute;
    color: white;
    z-index: 1;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  header ol {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin-top: 50px;
    font-weight: bold;
  }

  header li {
    background: black;
    padding: 5px;
  }

  /* section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } */

  section:nth-of-type(2),
  section:nth-of-type(3),
  section:nth-of-type(4) {
    position: relative;
    max-width: 1600px;
    margin: auto;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
  }

  section:nth-of-type(2) {
    justify-content: space-around;
    justify-content: center;
    align-items: center;
  }

  .bag {
    position: relative;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 33vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
  }

  .bag:nth-of-type(1),
  .bag:nth-of-type(2),
  .bag:nth-of-type(3) {
    background-color: white;
  }

  .bag:nth-of-type(2) {
    order: -1;
  }

  .bag:nth-of-type(1):hover {
    background-color: #c23c61;
  }

  .bag:nth-of-type(2):hover {
    background-color: #e1a195;
  }

  .bag:nth-of-type(3):hover {
    background-color: #e05218;
  }

  .bag-img {
    display: block;
    max-height: 100%;
    max-width: 90%;
  }

  .creator-summary {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    padding-top: 15px;
  }

  .creator-summary img {
    height: 320px;
  }

  h2 {
    font-size: 25px;
  }

  .creator {
    font-size: 20px;
    margin: auto;
    padding-top: 13px;
    font-weight: 550;
  }

  .bio:nth-of-type(1) {
    opacity: 1;
    max-width: 650px;
    height: auto;
    line-height: 20px;
  }

  .arrowb {
    display: none;
  }

  article:nth-of-type(2) {
    margin-top: 0;
  }

  .actu {
    position: absolute;
    top: 70px;
  }

  .illustration {
    height: 300px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
