* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("../fonts/TradeGothic.woff") format("woff2"),
    url("../fonts/TradeGothic.woff2") format("woff");
}

body {
  font-family: "Trade Gothic", "Helvetica", "sans-serif";
}

header {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

section:nth-of-type(1) {
  position: relative;
  height: 100vh;
  background-image: url("../images/SITE-MOSCHINO-IMAGES/page_accueil/background2-compressor.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20px;
  height: 100px;
}

.arrow {
  position: absolute;
  bottom: 0;
  height: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

section:nth-of-type(2),
section:nth-of-type(3) {
  margin-left: 23px;
  margin-right: 23px;
}

.bag {
  position: relative;
  max-width: 95vw;
  height: 350px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.bag:nth-of-type(1) {
  background-color: #e05218;
}

.bag:nth-of-type(2) {
  background-color: #e1a195;
}

.bag:nth-of-type(3) {
  background-color: #c23c61;
}

.name {
  position: absolute;
  top: 50px;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.bag-img {
  width: 90%;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.creator {
  position: relative;
  text-align: center;
  font-size: 17px;
  font-weight: lighter;
  margin-top: 10px;
  margin-right: 20px;
}

.arrowblack {
  position: absolute;
  height: 15px;
  right: 0;
}

.creator:hover {
  cursor: pointer;
}

.bio {
  margin-top: 30px;
  text-align: justify;
}

.illustration {
  width: 90%;
  position: relative;
  filter: brightness(65%);
}

article:nth-of-type(2) {
  margin-top: 30px;
}

.article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; /* sale ici répétition */
}

.articledesc {
  display: block;
  float: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.plus {
  display: block;
  float: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: lighter;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  background: black;
  color: white;
  font-size: 10px;
  line-height: 15px;
  padding-left: 10px;
}

.icone {
  width: 15px;
  display: flex;
  align-items: right;
}

.iconcontainer {
  position: absolute;
  width: 60%;
  height: 50px;
  right: 0;
  display: flex;
  justify-content: space-around;
}
