* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("../fonts/TradeGothic.woff") format("woff2"),
    url("../fonts/TradeGothic.woff2") format("woff"); /* bien déclaré les font-style et weight = ? */
}

body {
  font-family: "Trade Gothic", "Helvetica", "sans-serif";
  letter-spacing: 0.5px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header,
header img {
  height: 40px;
}

header {
  width: 100%;
  background: black;
}

header img {
  z-index: inherit;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.slider {
  position: relative;
  max-width: 600px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.slide {
  width: 100vw;
  max-width: 600px;
}

.button-left,
.button-right {
  position: absolute;
  top: 50%;
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
  border: none;
  color: white;
  text-shadow: 1px 1px 1px grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 1px;
  cursor: pointer;
}

.button-left {
  left: 0;
  padding-right: 13px;
}

.button-right {
  right: 0;
  padding-left: 13px;
}

/* .section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
} */

.title,
.description,
.price,
.info,
.info-plus,
.suggestion,
.suggestion-img {
  margin-left: 7%;
  margin-right: 7%; /* ca c'est egal à la section 2 mais ça marche pas ? */
  margin-top: 22px;
  text-align: justify;
}

.title {
  font-weight: bolder;
  font-size: 20px;
}

.price {
  font-weight: bold;
  font-size: 18px;
}

.description {
  font-weight: 500;
}

.info-plus {
  font-size: 14px;
  font-style: italic;
}

.suggestion {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
}

.sugg-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.suggestion-img {
  width: 20vw;
  height: 100%;
  transition: opacity 0.2s;
}

.suggestion-img:hover {
  opacity: 0.5;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  background: black;
  color: white;
  font-size: 10px;
  padding-left: 10px;
  margin-top: -6px;
  width: 100%;
}

footer ol {
  display: flex;
  flex-direction: row;
  width: 43vw;
  justify-content: space-around;
}

.icon {
  width: 15px;
  display: flex;
  align-items: right;
}

.iconcontainer {
  position: absolute;
  width: 40%;
  height: 50px;
  right: 0;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 1150px) {
  header,
  .logo {
    height: 90px;
  }

  .wrap {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .button-left,
  .button-right {
    display: none;
  }

  section:nth-of-type(1) {
    max-width: 500px;
  }

  .slider {
    margin: 0;
    width: 477px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red 2px solid;
  }

  .slide {
    height: 600px;
    width: auto;
  }

  .slide.un {
    opacity: 1;
    border: purple 2px solid;
  }

  .slide.deux {
    display: block;
  }
}
